.background-blue {
    background-color: #9FDFF5;
    padding: 100px;
}
.market-image img{
    border-radius: 50%;
    border: 1px solid #000;
}
.content-container .market-name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
}
.market-image {
    text-align: center;
}
.location {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #FC6500;
    font-family: BigJohn;
}
.produce {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #FC6500;
    font-family: BigJohn;

}
.market-image-down img{
    border-radius: 50%;
    border: 1px solid #000;
    margin-top: 20px;
    margin-left: auto;
}
.background-grey {
    background-color: #D6D0CB;
}
.navbar-custom {
    font-family: BigJohn;

}
.navbar-custom a {
    color: #FC6500;
}
.navbar-custom .navbar-toggle,
.navbar-custom .icon-bar {
    border: 1px solid #e65c00;
}
.picture-container {
    text-align: center;
}
.market-name {
    font-family: CenturyGothic;
    color: #FC6500;
    /*margin-bottom: px;*/
}
.market-info {
    font-family: CenturyGothic;
    font-size: 20px;
    margin-top: 1px;
    text-align: center;
    margin-bottom: 1px;
}
@font-face {
    font-family: Kenzo;
    src: url(../fonts/Kenzo.ttf);
}
@font-face {
    font-family: BebasNeue;
    src: url(../fonts/BebasNeue.ttf);
}
@font-face {
    font-family: BigJohn;
    src: url(../fonts/BigJohn.ttf);
}
@font-face {
    font-family: CenturyGothic;
    src: url(../fonts/CenturyGothic.ttf);
}
.market-image-up img{
    margin-top: 20px;
}
@media only screen and (min-width: 992px) {
    .market-image-up {
        margin-top: -100px;
    }
    .market-image-down img{
        margin-top: 150px;
    }
}
