.background-blue {
    background-color: #9FDFF5;
    padding: 100px;
}
.market-image img{
    border-radius: 50%;
    border: 1px solid #000;
}
.content-container .market-name {
    text-align: center;
    font-weight: bold;
    font-size: 25px;
    padding: 30px;
}
.market-image {
    text-align: center;
}
.location {
    text-align: center;
    font-weight: bold;
    font-size: 60px;
    color: #FC6500;
    font-family: SunriseInternational;
}
.market-image-down img{
    border-radius: 50%;
    border: 1px solid #000;
    margin-top: 150px;
    margin-left: auto;
}
.background-grey {
    color: #D6D0CB;
}
.navbar-custom {
    font-family: BebasNeue, sans-serif;;

}
.navbar-custom a {
    color: #e65c00;
}
.navbar-custom .navbar-toggle,
.navbar-custom .icon-bar {
    border: 1px solid #e65c00;
}
.picture-container {
    text-align: center;
}
.market-name {
    font-family: Kenzo;
    color: #FC6500;
}
.market-info {
    font-family: sans-serif;
    font-size: 20px;
    margin-top: -25px;
    text-align: center;
}
@font-face {
    font-family: Kenzo;
    src: url(../fonts/Kenzo.ttf);
}
